.header{
    text-align: center;
    margin: 30px auto 0 auto;
    font-family: Gabriola, cursive;
    font-size: 50px;
    color: #001f50 !important;
    width: 40%;
    border-radius: 50%;
    box-shadow: 8px 8px 10px #001f50;
}
.card-img-top{
    height: 300px;
}
.card-deck{
    width: 70%;
    margin: 30px auto 0 auto;
}
.card-text{
    font-family: Gabriola, cursive;
    font-size: 30px;
    color: #ffffff !important;
}
.card border{
    width: 100px;
    height: 100px;
}
.card-deck .card{
    margin-bottom: 25px;
    width: 300px;
    background-color: #6aa9a6;
    box-shadow: 8px 8px 10px #001f50;
}
.card-deck .card:hover{
    width: 320px;
    background-color: #79c6d3;
}
