.header{
     text-align: center;
     margin: 30px auto 0 auto;
     font-family: Gabriola, cursive;
     font-size: 50px;
     color: #001f50 !important;
     width: 80%;
     box-shadow: 8px 8px 10px #001f50;
 }
.card-img-top{
    height: 300px;
}
.card-deck{
    width: 70%;
    margin: 30px auto 0 auto;
}
.card-text{
    font-family: Gabriola, cursive;
    font-size: 30px;
    color: #ffffff !important;
}
.card border{
    width: 100px;
    height: 100px;
}
.card-deck .card{
    margin-bottom: 25px;
    width: 300px;
    background-color: #6aa9a6;
    box-shadow: 8px 8px 10px #001f50;
}
.btn-admin{
    background-color: #6aa9a6;
    width: 50%;
}
.btn-default:hover{
    background-color: #6aa9a6;
    color: #f2f2f2;
}

.center{
    margin: auto;
}

.search-div{
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    width: 510px;
    position: relative;
    background: rgba(179, 179, 179, 0.28);
    margin-top: 25px;
}

.search-div > input {
    width: 400px;
    padding: 5px;
    display: inline;
}

.search-div > button {
    display: inline;
    width: 75px;
    margin-left: 20px;
}
