/*NAVBAR*/
.navbar{
    background-color: #082567!important;
}
.nav-link{
    color: #f2f2f2!important;
    background-color: #082567!important;
    border: none;
}
.nav-link:hover{
    color: #80eff0 !important;
}

/*PAGE*/
.row{
    margin-top: 50px;
}
body{
    background-image: url("../../src/images/homeBack.jpg");
}

.headerHomePage{
    text-align: center;
    font-family: Gabriola, cursive;
    font-size: 50px;
    color : #082567 !important;
}
.rounded-circle{
    margin: 0 0 30px 0;
    box-shadow: 8px 8px 10px gray;
}
.text{
    text-align: center;
    font-family: Gabriola, cursive;
    font-size: 45px;
    color: #082567 !important;
}
.textInfo{
    text-align: center;
    margin: 0px 10% 0 10%;
    font-family: Gabriola, cursive;
    font-size: 30px;
    color: #082567 !important;
    line-height: 1.5;
}
.btnSignUp{
    /*margin-left: 35%;*/
    margin-top: 35px;
     font-family: Gabriola, cursive;
     border-radius: 15%;
     font-size: 30px;
     box-shadow: 8px 8px 10px gray;
     color: #f2f2f2;
     background-color: #082567;
     height: 50px;
 }
.newP{
    margin-top: 20px;
    text-align: center;
}
/*.search{*/
    /*margin: auto 0 auto 0;*/
    /*font-family: Gabriola, cursive;*/
    /*font-size: 20px;*/
/*}*/
/*.btn-search{*/
    /*color: white;*/
    /*font-family: Gabriola, cursive;*/
    /*font-size: 30px!important;*/
    /*border-color: #082567;*/
/*}*/


/*SHOULD FIX SIZE!*/
@media (max-width: 600px) {
    .headerHomePage {
        color: #28a745!important;
    }

    .headerInfo{
        color: red!important;
    }
}
