.table{
    width: 100%;
    margin: 20px auto 0 auto;
    line-height: 1;
}

thead{
    text-align: center;
}

th{
    text-align: center;
}

td{
    text-align: center;
    vertical-align: middle !important;
}

.claim-btn{
    height: 45px;
}

.claim-btn:hover{
    background-color: #082567;
}

.table-link{
    color: black;
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}

.table-user-information > tbody > tr > td {
    border-top: 0;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr > th:first-child {
    border-top: 0;
}

.table-user-information > tbody > tr > td > th{
    border-top: 0;
}
.avatar{
    width: 300px;
    height: 300px;
    border: 1px solid black;
}

.image-upload-div{
    padding-left: 15px;
    padding-top: 15px;
    height: 120px;
}

.file-upload-button{
    line-height: 1em;
    margin-left: 80px;
    margin-top: 10px;
}
